// form_for(@user) allows Rails to infer that the action of the form should be to POST to the URL /users


<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "name", class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :desc, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.date_field :date, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.collection_select(:creator_id, User.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: "password", class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "password confirmation", class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'new', class:'btn btn-default' %>
  </div>
<% end %>

<%= button_to 'back', users_path, method: :get, class:'btn btn-default' %>
