<h1>Users#edit</h1>

<%= form_for :user, url: user_path, method: :patch do |f| %>
  Email: <%= f.email_field :email %><br />
  Password: <%= f.password_field :password %><br />
  Password confirmation: <%= f.password_field :password_confirmation %><br />
  <%= f.submit %>
<% end %>
