<h2>Allocine en mieux.</h2>

<%= form_for :search_movie, method: :get do |f| %>
  <%= f.text_field :title, placeholder:"nom du film" %>
  <%= f.submit value:"recherche !" %>
<% end %>
<br/>
<% if @movies %>
    <% @movies.each do |movie| %>
        <%= movie.original_title %><br />
        <%= movie.release_date %><br />
        <%= image_tag @img_url + movie.poster_path if movie.poster_path %><br />
        --------------------------------------------<br />
    <% end %>
<% end %>