<% @gossips.each_with_index do |gossip, index| %>
  <div>
    <strong>Gossip n°<%= index %></strong><br />
    (created on <%= gossip.creation_datetime.strftime("%d %b %Y") %> by <%= gossip.creator.username %>)<br />
    --->
    <%= gossip.content %><br />
    <%= link_to "edit", edit_gossip_path(gossip), class: "badge badge-info" %> <%= link_to "delete", gossip_path(gossip), method: :delete, class: "badge badge-danger", data: { confirm: "T'es sûr de toi ?" } %>
  </div>
  <p>------------------------------------</p>
<% end %>

<%= button_to "add new", new_gossip_path, method: :get, class:'btn btn-default' %>
