<h1>Show all gossips</h1>

<table>
<% @gossips.each do |gossip| %>
  <tr>
  <td><%= link_to gossip.id, gossip_path(gossip) %></td>
  <td><%= gossip.anonymous_author%></td>
  <td><%= gossip.content%></td>
  <td><%= link_to 'edit', edit_gossip_path(gossip) %></td>
  <td><%= link_to 'delete', gossip, method: :delete %></td>
  </tr>
<% end %>

</table>

<p><%= button_to 'Add a gossip', new_gossip_path %></p>
