<h1>Gossip time!!!</h1>

<%= form_tag("/gossips/#{@gossip.id}") do %>
  <p>Who are you? <%= text_field_tag 'gossip[author]' %></p>
  <p>What do you want to gossip? <%= text_area_tag 'gossip[content]' %></p>
  <p><%= submit_tag 'Gossip!' %></p>
<% end %>

<%= link_to 'Hello Gossips!', gossips_path %>
