<h1>Gossip #<%= @gossip.id %></h1>

<strong>Author: </strong><%= @gossip.author %><br />
<strong>Content: </strong><%= @gossip.content %><br /><br />

<%= link_to 'Edit this gossip', edit_gossip_path %><br />
<%= link_to 'Hello Gossips!', root_path %>
