<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for :user, url: users_path do |f| %>
  Email: <%= f.text_field :email %><br />
  Password: <%= f.text_field :password %><br />
  Password confirmation: <%= f.text_field :password_confirmation %><br />
  <%= f.submit %>
<% end %>
